.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  --header-height: 5.25rem;
  height: var(--header-height);
  width: 100%;
}

.header__nav {
  display: flex;
  gap: 1.5rem;
}

.header__nav a:hover {
  color: var(--secondary);
}

.header__auth {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}
